%p
  %b Rating
%p
- if @event.average_rating.to_f > 0
  #{@event.average_rating}/#{@conference.program.rating}
- else
  Rating: 0/#{@conference.program.rating}
%p
  - @conference.program.rating.times do |counter|
    - if @event.average_rating.to_f.round == counter+1
      = label_tag "label_rating", "", :class => "avgrating", :avgrate => true
      = javascript_tag "$('label[avgrate=true]').prevAll().andSelf().addClass('bright');"
    - else
      = label_tag "label_rating", "", :class => "avgrating"
%p
  %b Voters:
  %span.notranslate= @event.voters.length
%p
  %b Your interest for this session:
%p
  -if user_signed_in?
    - @conference.program.rating.times do |counter|
      - voted = @event.voted?(@event, current_user)
      - if voted && voted.rating == counter+1
        = link_to "", vote_conference_program_proposal_path(@conference.short_title, @event, :rating => counter+1), :remote => true, :id =>"label#{counter+1}", :class => "myrating", :voted => true
      - else
        = link_to "", vote_conference_program_proposal_path(@conference.short_title, @event, :rating => counter+1), :remote => true, :id =>"label#{counter+1}", :class => "myrating"
  - else
    = "Please sign in to vote."

:javascript
  $(function () {
    var checkedId = $("a[voted='true']").attr('id');
    $('a[id=' + checkedId + ']').prevAll().andSelf().addClass('bright');
  });

  $(".myrating").hover(
    function() {    // mouseover
        $(this).prevAll().andSelf().addClass('glow');
    },
    function() {  // mouseout
        $(this).siblings().andSelf().removeClass('glow');
    }
  );

  $(".myrating").click(function() {
    $(this).siblings().removeClass("bright");
    $(this).prevAll().andSelf().addClass("bright");
  });
