.row
  .col-md-12
    %h3
      = @event.title
      %br
      %small
        = @event.subtitle
      = link_to 'Edit', edit_admin_conference_program_event_path(@conference.short_title, @event), class: 'btn btn-mini btn-primary pull-right'

.row
  .col-md-12
    %table.table
      %tr
        %td.col-md-2
          %b Type
        %td
          .dropdown
            = link_to '#', class: 'dropdown-toggle', id: 'type-dropdown' do
              - if @event.event_type.nil?
                Event Type
              - else
                = @event.event_type.title
              <b class='caret'></b>
            %ul.dropdown-menu
              - @event_types.each do |type|
                %li= link_to type.title,
                admin_conference_program_event_path(@conference.short_title,
                                            @event,
                                            event: { event_type_id: type.id }),
                method: :patch
      %tr
        %td
          %b Highlight
        %td
          = check_box_tag @conference.short_title, @event.id, @event.is_highlight,
            method: :patch, url: "/admin/conference/#{@conference.short_title}/program/events/#{@event.id}?event[is_highlight]=",
            class: 'switch-checkbox', data: { size: 'small',
                                              off_color: 'warning',
                                              on_text: 'Yes',
                                              off_text: 'No' }

      %tr
        %td
          %b State
        %td
          .dropdown
            = link_to '#', class: 'dropdown-toggle' do
              = @event.state.humanize
              <b class='caret'></b>
            %ul.dropdown-menu
              = render 'change_state_dropdown', event: @event
      %tr
        %td
          %b Track
        %td
          .dropdown
            = link_to '#', class: 'dropdown-toggle', id: 'track-dropdown' do
              - if @event.track.nil?
                Track
              - else
                = @event.track.name
              <b class="caret"></b>
            %ul.dropdown-menu
              - @tracks.each do |track|
                %li= link_to track.name,
                admin_conference_program_event_path(@conference.short_title,
                                            @event,
                                            event: { track_id: track.id }),
                method: :patch
      - if !@event.room.nil?
        %tr
          %td
            %b Room
          %td
            = @event.room.name
      - if !@event.start_time.nil?
        %tr
          %td
            %b Scheduled time
          %td
            = @event.start_time
      %tr
        %td
          %b Submitter
        %td
          - @event.submitters.each do |submitter|
            - submitter_user = submitter.user
            = link_to submitter_user.name, edit_admin_user_path(submitter_user), target: '_blank'
            - if submitter_user.registrations.count < 1
              %span{:style=>"color: #F7819F"}
                (Unregistered!)
            %br
      %tr
        %td
          %b Contact phone number
        %td
          = @event.contact_phone_number
      %tr
        %td
          %b Submitted on
        %td= @event.created_at
      %tr
        %td
          %b Last updated on
        %td= @event.updated_at
      %tr
        %td
          %b Objective
        %td= markdown(@event.objective)
      %tr
        %td
          %b Abstract
        %td= markdown(@event.abstract)
      %tr
        %td
          %b Speakers
        %td= @event.proposal_additional_speakers
      %tr
        %td
          %b Description
        %td= simple_format(@event.description)
      %tr
        %td
          %b Attachments
        %td
          -if @event.resource1?
            = link_to @event.resource1.original_filename, @event.resource1.url
            = @event.resource1.size
            1
            = number_to_human_size(@event.resource1.size)
            %br
          -if @event.resource2?
            = link_to @event.resource2.original_filename, @event.resource2.url
            = @event.resource2.size
            2
            = number_to_human_size(@event.resource2.size)
            %br
          -if @event.resource3?
            = link_to @event.resource3.original_filename, @event.resource3.url
            = @event.resource3.size
            3
            = number_to_human_size(@event.resource3.file_size)
            %br
      %tr
        %td
          %b Language
        %td
          .dropdown
            = link_to '#', class: 'dropdown-toggle', id: 'language-dropdown' do
              - if @event.language.nil?
                Language
              - else
                = @event.language
              <b class="caret"></b>
            %ul.dropdown-menu
              - ['fr', 'en'].each do |language|
                %li= link_to language,
                admin_conference_program_event_path(@conference.short_title,
                                            @event,
                                            event: { language: language }),
                method: :patch
      %tr
        %td
          %b Expected audience
        %td= @event.expected_audience

.row
  = link_to "Comments (#{@comment_count})", '#', id: 'event-comment-link'
  #comments-div
    %hr
    %ul.media
      %div
        .row-fluid
          = semantic_form_for :comment, url: comment_admin_conference_program_event_path(@conference.short_title, @event.id), method: :post do |f|
            = f.input :body
            = f.submit 'Add Comment', class: 'btn btn-primary pull-right'
        %br
        %br
        - @comments.each do |comment|
          %div
            = render partial: 'nested_comments', locals: { comment: comment, padding: 0}
