= semantic_form_for(@event, url: admin_conference_program_event_path(@conference.short_title, @event)) do |f|
  = f.inputs name: 'Event' do
    = f.input :state, as: :select, collection: [:new, :withdrawn, :canceled, :rejected, :unconfirm, :confirmed]
  
    = f.input :title, as: :string, required: true

    = f.input :subtitle, as: :string

    = f.input :start_time, as: :datetime_select
    
    = f.input :room_id, as: :select, collection: Room.all.map {|room| ["#{room.name}", room.id] }
    
    - if @program.tracks.any?
      = f.input :track_id, as: :select,
                collection: @program.tracks.map {|track| ["#{track.name}", track.id] },
                include_blank: true

    = f.input :event_type_id, as: :select,
      collection: @conference.program.event_types.map {|type| ["#{type.title} - #{show_time(type.length)}", type.id,
      data: { abstract_min_words: type.minimum_abstract_length, abstract_max_words: type.maximum_abstract_length,
        objective_min_words: type.minimum_objective_length, objective_max_words: type.maximum_objective_length }]},
      include_blank: false, label: 'Type', input_html: { class: 'select-help-toggle' }

    = f.input :require_registration, label: 'Require participants to register'
      
    - @conference.program.event_types.each do |event_type|
      %span{ class: 'help-block select-help-text event_event_type_id collapse', id: "#{event_type.id}-help" }
        = event_type.description

    :javascript
      $("##{@conference.program.event_types.first.id}-help").collapse('show');


    ~ f.input :objective, hint: markdown_hint(), input_html: { rows: 5 , required: true , data: { provide: 'markdown-editable' }, class: 'notranslate'},
    required: true, class: 'notranslate'

    %p
      You have used
      %span#objective-count.notranslate #{@event.objective_word_count}
      words. Objective of the presentation must be between
      %span#objective-minimum-word-count.notranslate
        0
      and
      %span#objective-maximum-word-count.notranslate
        250
      words.

    ~ f.input :abstract, input_html: { required: true, rows: 5, data: { provide: 'markdown-editable' }, class: 'notranslate'},
      required: true, hint: link_to('Tips to improve your presentations', 'http://blog.hubspot.com/blog/tabid/6307/bid/5975/10-Rules-to-Instantly-Improve-Your-Presentations.aspx')

    %p
      You have used
      %span#abstract-count.notranslate #{@event.abstract_word_count}
      words.

    = f.input :proposal_additional_speakers, as: :string, label: 'Speakers', input_html: {class: 'notranslate'}
    
    = f.input :language, as: :select, collection: [['Chose a language', ''], ['French', 'fr'], ['English', 'en']]

    = f.input :expected_audience, as: :number

    = f.input :description, input_html: { rows: 5 }, label: 'Requirements'
     
    = f.input :contact_phone_number, as: :string, required: true, input_html: { required: true }
    %span{ class: 'help-block' }
      In international format, with the country code, for example "+14155552671".
    
    = f.input :submitters_checkboxes, :collection => @event.submitters.map {|c| [c.user.name + ' (id=' + c.user_id.to_s + ')', c.user_id]}, :as => :check_boxes, label: "Submitters", :input_html => {:checked => true}

    = f.input :submitters_add, as: :string, label: "New submitter ids (comma separated)"
    
    = f.input :speakers_checkboxes, :collection => @event.speakers.map {|c| [c.user.name + ' (id=' + c.user_id.to_s + ')', c.user_id]}, :as => :check_boxes, label: "Speakers", :input_html => {:checked => true}

    = f.input :speakers_add, as: :string, label: "New speaker ids (comma separated)"
    
    = f.input :resource1, as: :file, label: 'First attachment', hint: ''
    -if @event.resource1?
      = link_to @event.resource1.original_filename, @event.resource1.url
      %br
      %span Remove file
      = f.check_box :remove_resource1
      %br
    %br
    = f.input :resource2, as: :file, label: 'Second attachment', hint: ''
    -if @event.resource2?
      = link_to @event.resource2.original_filename, @event.resource2.url
      %br
      %span Remove file
      = f.check_box :remove_resource2
      %br
    %br
    = f.input :resource3, as: :file, label: 'Third attachment', hint: ''
    -if @event.resource3?
      = link_to @event.resource3.original_filename, @event.resource3.url
      %br
      %span Remove file
      = f.check_box :remove_resource3
      %br
    

  %p.text-right
    = f.submit 'Update Event', class: 'btn btn-success'
