- Time::DATE_FORMATS[:litteral] = '%d/%m à %H:%m'
.row
  .col-md-12
    %strong
      = @updated_event_count
    = link_to 'évènements', admin_conference_program_events_path(@conference.short_title)
    mis à jour depuis votre dernière connexion le
    = current_user.last_sign_in_at.to_s(:litteral)
.row
  .col-sm-4.col-xs-4
    .dashbox.text-center
      %span.fa.fa-user.fa-lg
      %span.fa.fa-lg
        = @total_user
      %p
        %small
          #{'User'.pluralize(@total_user)}
          - if @new_user
            %span.label.label-success{title: "+ #{@new_user} since you last logged in!"}
              +
              = @new_user
  .col-sm-4.col-xs-4
    .dashbox.text-center
      %span.fa.fa-check-square.fa-lg
      %span.fa.fa-lg
        = @total_reg
      %p
        %small
          #{'Registration'.pluralize(@total_reg)}
          - if @new_reg
            %span.label.label-success{title: "+#{@new_reg} since you last logged in!"}
              +
              = @new_reg
  .col-sm-4.col-xs-4
    .dashbox.text-center
      %span.fa.fa-file-text.fa-lg
      %span.fa.fa-lg
        = @total_submissions
      %p
        %small
          #{'Submission'.pluralize(@total_submissions)}
          - if @new_submissions
            %span.label.label-success{title: "+#{@new_submissions} since you last logged in!"}
              +
              = @new_submissions

.row#registrations
  .col-md-8
    = render partial: 'line_chart', locals: { title: 'Registrations over time',
                                               name: 'registrations',
                                               conferences: @conferences,
                                               active_conferences: @active_conferences,
                                               deactive_conferences: @deactive_conferences,
                                               y: @registrations,
                                               x: @registration_weeks,
                                               unit: 'weeks' }
  .col-md-4
    = render partial: 'doughnut_chart', locals: { title: 'Events',data: @event_distribution }
.row#submissions
  .col-md-8
    = render partial: 'line_chart', locals: { title: 'Submissions over time',
                                               name: 'submissions',
                                               conferences: @conferences,
                                               active_conferences: @active_conferences,
                                               deactive_conferences: @deactive_conferences,
                                               y: @submissions,
                                               x: @cfp_weeks,
                                               unit: 'weeks' }
  .col-md-4
    = render partial: 'doughnut_chart', locals: { title: 'User',data: @user_distribution }
.row
  .col-md-8
    %ul.nav.nav-tabs#recentTable
      %li.active
        %a{:href=>"#recent_user", "data-toggle"=>"tab"}
          %span.fa.fa-user
          Recent Users
      %li
        %a{:href=>"#recent_reg", "data-toggle"=>"tab"}
          %span.fa.fa-check-square
          Recent Registrations
      %li
        %a{:href=>"#recent_submissions", "data-toggle"=>"tab"}
          %span.fa.fa-file-text
          Recent Submissions
    .tab-content
      .tab-pane.active#recent_user
        = render partial: 'recent_users', locals: {recent_users: @recent_users}
      .tab-pane#recent_reg
        = render partial: 'recent_registrations', locals: {recent_registrations: @recent_registrations}
      .tab-pane#recent_submissions
        = render partial: 'recent_submissions', locals: {recent_events: @recent_events}
  .col-md-4
    = render partial: 'top_submitter', locals: {top_submitter: @top_submitter}
