<% if !@is_public %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>User's profile is not public</p>
    </div>
  </div>
</div>
<% else %>
<div class="container">
  <div class="row">
    <div class="col-md-12" class="notranslate">
      <div class="page-header">
        <h1>
          <%= image_tag(@user.avatar(:square), height: 48, width: 48, title: "Yo #{@user.name}!", :alt => '')%>
          <%= @registration.first_name %> <%= @registration.last_name %></h1>
        <p><%= @registration.organization_name %>
        <% if @registration.country_code?
            country = @countries[@registration.country_code]
            if country.nil?
              country = @registration.country_code
            end
            %>
          - <span><%= country %></span>
        <% end%></p>
        <%if @registration.twitter? %>
          <p>Twitter : <a href="https://twitter.com/<%= @registration.twitter %>"><%= @registration.twitter %></a></p>
        <% end %>
      </div>
      <% if !@registration.biography.nil? %>
        <%= markdown(@registration.biography) %>
      <% elsif !@user.biography.nil? %>
        <%= markdown(@user.biography) %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" class="notranslate">
      <% if !@speaker_events.first.nil? %>
        <h3>Speaker</h3>
        <ul class="list-unstyled">
        <% @speaker_events.each do |event| %>
          <li><h4><%=  link_to event.title, conference_program_proposal_path(event.program.conference.short_title, event.id) %></h4></li>
        <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<% end %>