.container
  .row
    .col-md-12.text-center
      %h2
        Call for proposals
  .row
    .col-md-10.col-md-offset-1
      %p
        In keeping with the OGP’s spirit of co-creation, the agenda for the Global Summit will be
        %strong
          co-created between governments and civil society.
        Here, you will be able to submit event proposals and exchange with other applicants around session projects.
      %p
        Propositions can adopt the following formats:
      %ul
        %li
          Roundtables: Panel on open government themes (up to 80 minutes).
        %li
          Workshop: Hands-on workshop allowing the exchange of experiences around interactive activities (up to 80 minutes): project presentations, discussion around case studies… 
        %li
          Pitch: Short and dynamic intervention showcasing concrete examples of open government experiences (5 to 10 minutes)
        %li
          External event: a system will be put in place to list and promote external events taking place all over France and worldwide as part of an “Open Government Week” (December 5 - 14) in conjunction with the Global Summit.

      %p
        The provisional list of tracks in which proposals can be classified is:
      %ul
        %li
          Climate and sustainable development
        %li
          Transparency, accountability and fight against corruption
        %li
          Digital and development
        %li
          Civic tech and participatory tools
        %li
          Open data and Open resources
        %li
          Public innovation
        %li
          Open government for cities
        %li
          Open parliament
        %li
          Access to information
        %li
          Fundamentals liberties and human rights
        %li
          Implementation of open government
        %li
          Regional focus and Francophonie
        %li
          Other (final list of tracks will be established based on proposals)
      %p
        Sectoral, regional and gender balance must be respected.
      %p
        The deadline for submissions is
        %strong
          July 20 2016.
  .row
    .col-md-12.text-center
      %p.cta-button
        = link_to "Call for proposals criteria", "https://en.ogpsummit.org/app/uploads/2016/06/call-for-proposals-criteria.pdf", class: 'btn btn-success btn-lg text-center', id: 'cfp_instructions_link'
        = ' '
        = link_to "Submit your proposal now", conference_program_proposal_index_path(@conference.short_title), class: 'btn btn-success btn-lg text-center'

:javascript
  Transifex.live.onTranslatePage(function(lang) {
    if (lang === 'fr') {
      var link = document.getElementById('cfp_instructions_link');
      link.setAttribute('href', 'https://fr.ogpsummit.org/app/uploads/2016/06/criteres-appel-a-propositions.pdf');
    }
    if (lang === 'en') {
      var link = document.getElementById('cfp_instructions_link');
      link.setAttribute('href', 'https://en.ogpsummit.org/app/uploads/2016/06/call-for-proposals-criteria.pdf');
    }
  });
