.row
  .col-md-12
    .well
      .row
        .col-md-4.text-center
          = image_tag(conference.logo(:original), class: 'img-responsive') if conference.logo?
        .col-md-6
          %h3
            = conference.title
            %small
              %b
              = date_string(conference.start_date, conference.end_date)
          - if conference.venue
            %p
              = "#{conference.venue.city}/#{conference.venue.country_name}"
          - if !conference.description.blank?
            %p
              = markdown(conference.description)
        .col-md-2
          .btn-group-vertical
            - if !@conference || @conference != conference
              - if conference.splashpage && conference.splashpage.public
                = link_to "View Conference", conference_path(conference.short_title), :class =>"btn btn-default"
            - if conference.program and conference.program.schedule_public
              = link_to "Schedule", schedule_conference_path(conference.short_title), :class =>"btn btn-default"
            - if conference.user_registered?(current_user)
              = link_to "My Registration", conference_conference_registrations_path(conference.short_title), :class =>"btn btn-default"
            - if !current_user.nil? && current_user.proposal_count(conference) > 0
              = link_to "My Proposals", conference_program_proposal_index_path(conference.short_title), :class =>"btn btn-default"
            - elsif conference.program.cfp_open?
              = link_to "Submit Proposal", new_conference_program_proposal_path(conference.short_title), :class =>"btn btn-default"
            - if current_user.nil? || !current_user.subscribed?(conference)
              = link_to 'Subscribe', conference_subscriptions_path(conference.short_title), method: :post, class: 'btn btn-default'
            - else
              = link_to 'Unsubscribe', conference_subscriptions_path(conference.short_title), method: :delete, class: 'btn btn-default'
