
<div class="row">
  <h1 class="text-center"> Schedule for <%= @conference.title %></h1>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p class="text-center notranslate">
      <%if @hostnamelang == 'fr' %>
        Pour revivre le Sommet, nous avons mis à votre dispositions des vidéos et du contenu de <a href="/opening-plenary/">la Plénière d’Ouverture</a>, des <a href="/osem/conference/ogp-summit/completeschedule">séances au Palais d’Iéna</a>, et la <a href="/open-government-for-cities-and-subnationals/">séquence à l’Hôtel de Ville</a>. Tout le contenu multimédia se trouve dans la rubrique <a href="/media-gallery/">Galerie Media</a>.
      <% else %>
        To relive the Summit, we gathered videos and content of the <a href="/opening-plenary/">Opening Plenary</a>, the <a href="/osem/conference/ogp-summit/completeschedule">sessions at Palais d’Iéna</a> and the <a href="/open-government-for-cities-and-subnationals/">track at the Hôtel de Ville</a>. All multimedia content is available at the <a href="/media-gallery/">Media Gallery</a> section of this website.
      <% end %>
    </p>
    <p class="text-center notranslate">
      <%if @hostnamelang == 'fr' %>
        <a href="../../img/programme-web_fr.pdf">Téléchargez le programme final en PDF</a>
      <% else %>
        <a href="../../img/program-web_en.pdf">Download the final program (PDF)</a>
      <% end %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p class="text-center">
      <%if @hostnamelang == 'fr' %>
        Cliquez sur les éléments de l'agenda ci-dessous pour découvrir le programme<br> ou accédez à <a href="eventlists">la liste complète des évènements</a> pour filtrer par thématique ou type d'évènement.
      <% else %>
        Click on the items of the agenda below to discover the program and access the <a href="eventlists">full list of events</a> to search by track and topics.
      <% end %>
    </p>
  </div>
</div>
<div class="row">
  <% if @hostname.start_with?('fr.') %>
<!-- fr -->
<object type="image/svg+xml" data="../../img/overview_12-01_fr.svg" 
    width="100%" height="100%" border="none"></object>
<% else %>
<!-- en -->
<object type="image/svg+xml" data="../../img/overview_12-01_en.svg" 
    width="100%" height="100%" border="none"></object>            
<% end %>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
<p class="text-justify"><br/>
  Starting April 2016, proponents from all over the world contributed to the elaboration of the program for the OGP summit, by participating to the open call for proposals. 700 proposals were analyzed by the
  <%= link_to 'program committee', '/2016/07/04/learn-about-the-composition-of-the-programming-committe/' %>,
  composed of government and subnational authorities’ representatives, French and international civil society representatives and members from the OGP support unit.
</p>
  </div>
</div>

