.container
  .row
    .col-md-10.col-md-offset-1
      %p.text-justify
        As
        = link_to " co-chair of the Open Government Partnership (OGP),", "/about/"
        France will host its
        %strong
          fourth OGP Global Summit 2016 in Paris from December 7 to December 9. 

      %p.text-justify
        %strong
          The Partnership gathers today 70 member countries and hundreds of civil society organizations that promote transparency, citizen participation and democratic innovation.

      %p.text-justify
        %strong
          The OGP summit will involve 3000 representatives from 70 countries: Heads of State and governments, ministers, public servants, members of parliament, local authorities, civil society representatives, start-ups and digital innovators, civic techs, developers, researchers, journalists
        will gather in Paris to share their experiences and push forward the open government agenda in light of the global challenges.

      %p.text-justify
        = link_to "On April 2016,", "https://www.etalab.gouv.fr/retour-sur-le-lancement-du-sommet-pgo"
        %strong
          a process of co-construction of the program for the OPG summit was launched,
        in order to build an agenda that reflects the priorities of the participants.
        = link_to "The open call for proposals", "https://www.etalab.gouv.fr/fin-de-lappel-a-propositions-pour-le-sommet-pgo-apercu-du-tableau-de-bord-ogpsummit-org"
        gathered almost 700 proposals and was enriched by several collaborative workshops. 

      %p.text-justify
        %strong
          Transparency and anti-corruption, climate action and sustainable development, digital commons and civic tech, access to information, open parliament, open government at the subnational level, francophonie, implementation of open government…: more than 300 panels, workshops, pitches,
        will drive the announcement of new commitments, the launch of collective actions and international collaborations, the exchange of digital resources and best practices and the presentation of concrete open government cases with a positive transformative impact on citizens’ lives.

        
  - if @conference.program and @conference.program.schedule_public
    .row
      .col-md-12
        %p
          .cta-button.text-center
            = link_to(schedule_conference_path(@conference.short_title), class: 'btn btn-default btn-lg') do
              Program


  %br
  - if @conference.program.events.highlights.any?
    .row
      .col-md-12
        - @conference.program.events.highlights.each_slice(2) do |slice|
          .row.row-centered
            - slice.each do |event|
              .col-md-6.col-centered.col-top.highlights
                %p.text-center
                  %b= event.title
                %h5.text-center
                  = simple_format truncate(event.abstract, length: 500, separator: ' ')
                  = link_to "Read More", conference_program_proposal_path(@conference.short_title, event)

:javascript
  Transifex.live.onTranslatePage(function(lang) {
    var iframe = document.getElementById('dailymotionVideo');
    if (lang === 'fr') {
      iframe.setAttribute('src', 'https://www.dailymotion.com/embed/video/x48osup');
    }
    if (lang === 'en') {
      iframe.setAttribute('src', 'https://www.dailymotion.com/embed/video/x48owvv');
    }
  });
