%a.unstyled-link{href: url_for(conference_program_proposal_path(@conference.short_title, event[0].id))}
  - start_time = event[0].start_time
  %span.schedule-hours
    = start_time.strftime("%H:%M")
    &dash;
    - end_time = start_time + (60 * event[0].event_type.length)
    = end_time.strftime("%H:%M")
  - event_speakers = event[0].speakers
  - room_id = event[0].room_id
  %h5.notranslate
    = event[0].title
    - if (room_id == 2 or room_id == 3 or room_id == 12)
      %span.schedule-langs.notranslate
        [fr/en/es]
  - event_speakers.each do |speaker|
    %span.schedule-speaker.notranslate
      - speaker_user = speaker.user
      = image_tag speaker_user.avatar(:square), width: 32, height: 32, :class => "img-circle", |
                                        :alt => speaker_user.name, |
                                        :title => speaker_user.name, |
                                        :style => "padding:3px;" |
      = speaker_user.name
  -if event[0].track
    %span.schedule-track
      %span.label{ style: "background-color: #{event[0].track.color}" }
        = event[0].track.name