-if @hostnamelang == 'fr'
  - map_url = "https://umap.openstreetmap.fr/fr/map/evenements-du-sommet-pgo-2016-a-paris_114614"
- else
  - map_url = "https://umap.openstreetmap.fr/en/map/ogp-summit-2016-paris-events_114316"
.container
  .row
    .col-md-12
      %h2.text-center
        = "#{@conference.venue.city} / #{@conference.venue.country_name}"

  .row
    .col-md-6
      .thumbnail
        =image_tag("salle_pleyel.jpg", class: 'img-responsive img-rounded')
    .col-md-6
      %address
        %h1
          %span.notranslate
            Salle Pleyel
          %small
            Opening Plenary
        %span.notranslate
          252, rue du Faubourg Saint-Honoré
        %br
        %span.notranslate
          75008 Paris
        %br
        %span.notranslate
          France
        %br
        = link_to "See on map", map_url + "#18/48.87685/2.30101", target: "_blank"

  .row
    .col-md-6
      .thumbnail
        =image_tag("palais_iena.jpg", class: 'img-responsive img-rounded')
    .col-md-6
      %address
        %h1
          %span.notranslate
            Palais d'Iéna
          %small
            %span
              Sessions and workshops
            = " - "
            %span
              Hackathon
        %span.notranslate
          9, place d'Iéna
        %br
        %span.notranslate
          75016 Paris
        %br
        %span.notranslate
          France
        %br
        = link_to "See on map", map_url + "#18/48.86409/2.29270", target: "_blank"

  .row
    .col-md-6
      .thumbnail
        =image_tag("palais_tokyo.jpg", class: 'img-responsive img-rounded')
    .col-md-6
      %address
        %h1
          %span.notranslate
            Palais de Tokyo
          %small
            Sessions and workshops
        %span.notranslate
          13, avenue du Président Wilson
        %br
        %span.notranslate
          75116 Paris
        %br
        %span.notranslate
          France
        %br
        = link_to "See on map", map_url + "#18/48.86462/2.29685", target: "_blank"

  .row
    .col-md-6
      .thumbnail
        =image_tag("assemblee_nationale.jpg", class: 'img-responsive img-rounded')
    .col-md-6
      %address
        %h1
          %span.notranslate
            Assemblée Nationale
          %small
            Open Parliament
        %span.notranslate
          Hôtel de Lassay
        %br
        %span.notranslate
          128, rue de l’Université 
        %br
        %span.notranslate
          75007 Paris
        %br
        %span.notranslate
          France
        %br
        = link_to "See on map", map_url + "#18/48.86091/2.31721", target: "_blank"
        
  .row
    .col-md-6
      .thumbnail
        =image_tag("senat.jpg", class: 'img-responsive img-rounded')
        %span
          %small
            Photo Sénat © Sénat
    .col-md-6
      %address
        %h1
          %span.notranslate
            Sénat
          %small
            Open Parliament
        %span.notranslate
          Palais du Luxembourg
        %br
        %span.notranslate
          15, rue de Vaugirard
        %br
        %span.notranslate
          75006 Paris
        %br
        %span.notranslate
          France
        %br
        = link_to "See on map", map_url + "#18/48.84923/2.33632", target: "_blank"
        
  .row
    .col-md-6
      .thumbnail
        =image_tag("hotel_du_collectionneur.jpg", class: 'img-responsive img-rounded')
    .col-md-6
      %address
        %h1
          %span.notranslate
            Hôtel du Collectionneur
          %small
            Civil Society Morning
        %span.notranslate
          L’Hôtel du Collectionneur
        %br
        %span.notranslate
          51-57, rue de Courcelles
        %br
        %span.notranslate
          75008 Paris
        %br
        %span.notranslate
          France
        %br
        = link_to "See on map", map_url + "#18/48.87728/2.30668", target: "_blank"
        
  .row
    .col-md-6
      .thumbnail
        =image_tag("hotel_de_ville.jpg", class: 'img-responsive img-rounded')
    .col-md-6
      %address
        %h1
          %span.notranslate
            Hôtel de Ville de Paris
          %small
            %span
              Open Local Government
            = " - "
            %span
              Closing
        %span.notranslate
          3, rue de Lobau
        %br
        %span.notranslate
          75004 Paris
        %br
        %span.notranslate
          France
        %br
        = link_to "See on map", map_url + "#18/48.85608/2.35331", target: "_blank"
  .row
    .col-md-12
      = render 'conference/venue_map'