<%
if @hostnamelang == 'fr'
  map_url = "https://umap.openstreetmap.fr/fr/map/evenements-du-sommet-pgo-2016-a-paris_114614"
  text = "Voir en plein écran"
else
  map_url = "https://umap.openstreetmap.fr/en/map/ogp-summit-2016-paris-events_114316"
  text = "See full screen"
end
%>
<br/>
<br/>
<iframe width="100%" height="500px" frameBorder="0" src="<%= map_url %>?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=databrowser&captionBar=false#12/48.8605/2.3470"></iframe><p><a href="<%= map_url %>"><%= text %></a></p>