<div class="container" id="attendeelist">
  <div class="row">
    <div class="col-md-12" class="notranslate">
      <div class="page-header">
        <h1>Attendees</h1>
        <p>
          <% @letters.each do |letter| %>
                <a href="#letter_<%= letter %>"><%= letter %></a>
                    &nbsp;
          <% end %>
          </p>
      </div>
      <% initiale = '' %>
<% @public_registrations.each do |registration| %>
  <% is_public = registration.qanswers.where(id: 35).first %>
    <% if !is_public.nil? and !registration.last_name.nil? and registration.last_name.length > 0
      current_initiale = registration.last_name[0].parameterize.upcase
      if current_initiale != initiale
        initiale = current_initiale
      %>
      <p id="letter_<%= initiale%>">&nbsp;</p>
      <h3><%= initiale%></h3>
      <% end %>  
      <p class="attendee-user">
        <a class="attendee-user_link" href="<%= user_path(registration.user_id) %>">
        <span class="attendee-last_name"><%= registration.last_name %></span>
        <span class="attendee-first_name"><%= registration.first_name.capitalize %></span>
        </a>
        <span class="attendee-organization_name"><%= registration.organization_name %></span>,
        <% if registration.country_code?
            country = @countries[registration.country_code]
            if country.nil?
              country = registration.country_code
            end
            %>
          <span class="attendee-country"><%= country %></span>
        <% end%>
        <%if registration.twitter? %>
          - <a href="https://twitter.com/<%= registration.twitter %>" class="attendee-twitter">Twitter</a>
        <% end %>
       </p>
      
  <% end %>
<% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" class="notranslate">
        <a href="#attendeelist" title="Back to top" id="attendeelist_backtotop">▲</a>
      </div>
  </div>
</div>