= content_for :title do
  = @conference.title

#splash
  - if @conference.splashpage
    #banner
      .container
        .row
          .col-md-8.col-md-offset-2#header
            .row
              .col-md-12
                - if @conference.logo?
                  %img{"src" => "/app/uploads/2016/04/logo-anime-sommet-en.gif", "class" => "img-responsive img-center", "id" => "splash-logo"}
                  :javascript
                    Transifex.live.onTranslatePage(function(lang) {
                      var link = document.getElementById('splash-logo');
                      if (lang === 'fr') {
                        link.setAttribute('src', '/app/uploads/2016/04/logo-anime-sommet-fr.gif');
                      }
                      if (lang === 'en') {
                        link.setAttribute('src', '/app/uploads/2016/04/logo-anime-sommet-en.gif');
                      }
                    });
                  .pull-right
                    = link_to('/media-gallery/', class: 'btn btn-success btn-lg') do
                      - if @hostnamelang == 'fr'
                        Galerie Media
                      - else
                        Media Gallery
                    = link_to "Program", conference_path('ogp-summit') + '/schedule', class: 'btn btn-success btn-lg'
                    
    - unless @conference.description.blank?
      %section#about
        .container
          .row
            .col-md-8.col-md-offset-2
              %h3.text-center
                = markdown(@conference.description)

    - if @conference.splashpage.include_program
      %section#program
        = render 'schedule_splashpage'

    - if @program.cfp_open? and @conference.splashpage.include_cfp
      %section#callforpapers
        = render 'call_for_paper'

    - if @conference.venue and @conference.splashpage.include_venue
      %section#venue
        = render 'venue'

    - if @conference.lodgings.any? and @conference.splashpage.include_lodgings
      %section#lodging
        = render 'lodging'

    - if @conference.tickets.any? and @conference.splashpage.include_tickets and @conference.pending?
      %section#tickets
        = render 'tickets'

    - if @conference.sponsors.any? and @conference.splashpage.include_sponsors
      %section#sponsors
        = render 'sponsors'

    - if @conference.contact.has_social_media? and @conference.splashpage.include_social_media
      %section#social-media
        = render 'social_media'

    // grmbl
    = render 'footer'
