.container
  .row
    .col-md-12
      .page-header
        %h1 Editing image
  .row
    .col-md-12
      = semantic_form_for @commercial, url: conference_program_proposal_commercial_path(conference_id: @conference.short_title, proposal_id: @event.id, id: @commercial.id) do |f|
        = render 'form', f: f
