= render partial: 'javascript_qanswers_count'
= javascript_include_tag "/javascripts/workaround-registration"

.container
  .row
    .col-md-12
      .page-header
        %h1
          Registration for
          = @conference.title
  .row
    .col-md-6
      %p
        Required information is used for accreditation meeting on-site security requirements.
      %p
        For further information, please visit our
        =link_to('/faq/') do
          FAQ dedicated page.
      - if !current_user
        %legend
          %span
            =link_to('#signup', role: 'tab', "aria-controls" => "home", "data-toggle" => "tab") do
              = CONFIG['name']
              Account
          %span.pull-right#account-already
            =link_to('#signin', role: 'tab', "aria-controls" => "home", "data-toggle" => "tab") do
              Already have an account?
      .tab-content
        .tab-pane.active{role: 'tabpanel', id: 'signup'}
          = semantic_form_for(@registration, url: conference_conference_registrations_path(@conference.short_title)) do |f|
            - if not  @conference.user_registered?(current_user)
              %input{type: 'hidden', name: 'authkey', value: @authkey}
            = render partial: 'devise/shared/sign_up_form_embedded'

            = render partial: 'registration_info', locals: { f: f }
            .row
              .col-md-12
                %p.pull-right
                  - if @conference.user_registered?(current_user)
                    = f.action :submit, button_html: { value: 'Update Registration', class: 'btn btn-primary' }
                  - else
                    =f.action :submit, button_html: { value: 'Register', class: 'btn btn-primary', id: 'register' }
        .tab-pane{role: 'tabpanel', id: 'signin'}
          = render partial: 'devise/shared/sign_in_form_embedded'
