<script>
var LANG = "<%= @hostnamelang %>";
<%
def get_count(id)
  result = ActiveRecord::Base.connection.exec_query('SELECT count(*) FROM qanswers_registrations WHERE qanswer_id=' + id)
  return result.rows[0][0]
end
%>
var COUNT = {
"23": <%= get_count('23')%>,
"24": <%= get_count('24')%>,
"25": <%= get_count('25')%>,
"47": <%= get_count('47')%>,
"26": <%= get_count('26')%>,
"48": <%= get_count('48')%>,
"27": <%= get_count('27')%>,
"46": <%= get_count('46')%>,
"49": <%= get_count('49')%>,
"28": <%= get_count('28')%>
};
    
</script>