- q=@conference.questions.find_by_id(qid)
%strong
  = q.title
%span
  - first_step = true
  - @registration.qanswers.where(:question_id => q.id).each do |qa|
    - if first_step
      - first_step = false
    -else
      %span
        |
    %span
      = qa.answer.title
    
