.container
  .row
    .col-md-12
      - if !current_user
        = render partial: 'devise/shared/sign_in_form_embedded'
      - elsif !@conference.user_registered?(current_user)
        %p
          you are not registred.
      - elsif @registration.nationality_code.nil? or @registration.birthcountry_code.nil?
        %p
          %span{style: 'color: red'}
            Your registration form is not completed
        %p
          = link_to(conference_conference_registrations_path("ogp-summit")) do
            Link to your registration
      - else
        %p
          Confirmation closed
 