.container
  .row
    .col-md-12
      .page-header
        %h1
          Registration for
          = @conference.title
        %p.text-muted
          -if @conference.venue
            at
            %strong
              = "#{@conference.venue.name},"
            = "#{@conference.venue.street},"
            = "#{@conference.venue.city} / #{@conference.venue.country_name}."
          %small
            = date_string(@conference.start_date, @conference.end_date)
  .row
    .col-md-12
      - if @registration.nationality_code.nil? or @registration.birthcountry_code.nil?
        %p
          %span{style: 'color: red'}
            Registration form not completed
      - elsif @registration.confirmation_date
        %p
          %span{style: 'color: green'}
            Registration confirmed:
          = @registration.confirmation_date.strftime('%Y-%m-%d %H:%m')
      - else
        %p
          %span{style: 'color: orange'}
            Your registration is not confirmed
      %h4
        %span.fa-stack
          %i.fa.fa-square-o.fa-stack-2x
          %i.fa.fa-info.fa-stack-1x
        Your registration
      %ul
        %li
          %strong
            Last Name
          %span.notranslate
            = @registration.last_name
        %li
          %strong
            First Name
          %span.notranslate
            = @registration.first_name
        %li
          %strong
            Title
          %span.notranslate
            = @registration.title
        %li
          = render partial: 'show_question', locals: { qid: 6}
        %li
          = render partial: 'show_question', locals: { qid: 7}
        %li
          %strong
            Name of Organization or Government Ministry/ Department
          %span.notranslate
            = @registration.organization_name
        %li
          %strong
            Telephone
          %span.notranslate
            = @registration.telephone
        %li
          %strong
            Twitter Handle
          %span.notranslate
            = @registration.twitter
        %li
          %strong
            Country of residence
          %span.notranslate
            - if @registration.country_code?
              - country = Country.find_by_code(@registration.country_code)
              - if country.nil?
                = @registration.country_code
              - else
                = country.get_label(@hostnamelang)
        %li
          %strong
            Nationality
          %span.notranslate
            - if @registration.nationality_code?
              - nationality = Country.find_by_code(@registration.nationality_code)
              - if nationality.nil?
                = @registration.nationality_code
              - else
                = nationality.get_label(@hostnamelang)
        %li
          %strong
            Date of birth
          %span.notranslate
            -if @registration.birth_date?
              - Time::DATE_FORMATS[:birth_date] = '%Y-%m-%d'
              = @registration.birth_date.to_s(:birth_date)
        %li
          %strong
            Country of birth
          %span.notranslate
            - if @registration.birthcountry_code?
              - birthcountry = Country.find_by_code(@registration.birthcountry_code)
              - if birthcountry.nil?
                = @registration.birthcountry_code
              - else
                = birthcountry.get_label(@hostnamelang)
        %li
          %strong
            Place of birth
          %span.notranslate
            = @registration.birth_place
        %li
          %strong
            Photo
          %br
          = image_tag(@registration.photo(:square), height: 100, width: 100, title: "Your photo", :alt => '')
        %li
          %strong
            Biography
          .notranslate
            :markdown
              #{@registration.biography}
        %li
          = render partial: 'show_question', locals: { qid: 15}
        %li
          = render partial: 'show_question', locals: { qid: 8}
        %li
          = render partial: 'show_question', locals: { qid: 9}
        %li
          - q_support = @conference.questions.find_by_id(10)
          %strong
            = q_support.title
          - @registration.qanswers.where(:question_id => q_support.id).each do |qa|
            %span
              = qa.answer.title
          %br
          %span.notranslate
            = @registration.support_motivation
        %li
          = render partial: 'show_question', locals: { qid: 11}
        %li
          = render partial: 'show_question', locals: { qid: 12}
        %li
          = render partial: 'show_question', locals: { qid: 13}
        %li
          = render partial: 'show_question', locals: { qid: 14}
  - if @workshops.any?
    .row
      .col-md-12
        %h4
          %span.fa-stack
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-check.fa-stack-1x
          Event Registrations
        %ul
          - @workshops.each do |workshop|
            %li
              = link_to workshop.title, conference_program_proposal_path(@conference.short_title, workshop.id)
  - if @conference.tickets.any?
    .row
      .col-md-12
        %h4
          %span.fa-stack
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-ticket.fa-stack-1x
          Tickets
          -if @tickets.any?
            = "(#{@total_price} #{@tickets.first.price.symbol})"
        %ul
          - @tickets.each do |ticket|
            %li
              = ticket.quantity
              = ticket.title
              = word_pluralize(ticket.quantity, 'Ticket')
              for
              = humanized_money ticket.price
              = ticket.price.symbol
              = link_to conference_ticket_purchase_path(@conference.short_title, ticket.id), method: :delete,
                                                                                            id: "ticket-#{ticket.id}-delete",
                                                                                            class: 'btn btn-danger btn-xs',
                                                                                            data: { confirm: "Do you really want to delete the #{ticket.title} ticket for #{@conference.title}?" } do
                %i.fa.fa-trash-o
          %li
            - if @tickets.any?
              = link_to 'Buy more tickets', conference_tickets_path(@conference.short_title)
            - else
              You haven't bought any tickets.
              = link_to 'Please buy some tickets to support us!', conference_tickets_path(@conference.short_title)

  .row
    .col-md-12
      -if @registration
        .btn-group-vertical.pull-right
          = link_to 'Edit your Registration', edit_conference_conference_registrations_path(@conference.short_title), class: 'btn btn-success', disabled: @conference.end_date < Date.today
          = link_to 'Unregister', conference_conference_registrations_path(@conference.short_title),
          method: :delete, class: 'btn btn-danger btn-xs', 'data-confirm' => 'Are you sure you want to unregister?', disabled: @conference.end_date < Date.today
      - else
        = link_to 'Register', new_conference_conference_registrations_path(@conference.short_title), class: 'btn btn-success btn-lg pull-right'
