.row
  .col-md-12
    .page-header
      %h1
        Registration for #{@user.username}
.row
  .col-md-6
    = semantic_form_for(@registration, url: admin_conference_registration_path(@conference.short_title, @registration)) do |f|
      = f.inputs 'Personal Information' do
        = f.fields_for :user do |u|
          = u.input :name, as: :string
          = u.input :nickname, as: :string
          = u.input :affiliation, placeholder: 'Company/User Group/nothing', as: :string
      = f.action :submit, button_html: { class: 'btn btn-primary' }
