.row
  .col-md-12
    .page-header
      %h1
        Registrations
        = "(#{@registrations.length})" if @registrations
    %table.table.table-hover#registrations
      %thead
        %tr
          %th ID
          %th Name
          %th E-Mail
          %th Actions
      %tbody.notranslate
        - @registrations.each_with_index do |registration, index|
          %tr
            %td
              = registration.id
            %td
              = link_to registration.name, edit_admin_user_path(registration.user), target: '_blank'
            %td
              = registration.email
            %td
              .btn-group
                = link_to 'Delete', admin_conference_registration_path(@conference.short_title, registration),
                method: :delete, class: 'btn btn-danger', data: { confirm: "Do you really want to delete the Registration for #{registration.name}?" }
