.schedule-time-column
  .schedule-time-column-header
    = Time
  - (9..20).each do |hour|
    .schedule-time-slot
      = "#{hour}:00"
    .schedule-time-slot
      = "#{hour}:15"
    .schedule-time-slot
      = "#{hour}:30"
    .schedule-time-slot
      = "#{hour}:45"

- @rooms.each do |room|
  .schedule-room-column{:id => "schedule-room-#{room.guid}", "room-guid" => room.guid}
    .schedule-room-column-header
      = room.name
      = "(#{room.size} people)"
    - (9..20).each do |hour|
      .schedule-room-slot{:id => "schedule-room-#{room.guid}-#{hour}-0", "room-guid" => room.guid, "hour" => "#{hour}:00"}
      .schedule-room-slot{:id => "schedule-room-#{room.guid}-#{hour}-15", "room-guid" => room.guid, "hour" => "#{hour}:15"}
      .schedule-room-slot{:id => "schedule-room-#{room.guid}-#{hour}-30", "room-guid" => room.guid, "hour" => "#{hour}:30"}
      .schedule-room-slot{:id => "schedule-room-#{room.guid}-#{hour}-45", "room-guid" => room.guid, "hour" => "#{hour}:45"}
