<p>English</p>

<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>

<p>Français</p>

<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué en raison d'un très grand nombre d'échecs lors de tentatives de connexion.</p>

<p>Merci de cliquer sur le lien ci-dessous pour débloquer votre compte:</p>

<p><%= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>
