= semantic_form_for [:admin, @user] do |f|
  = f.inputs 'Basic Information' do
    %p
      %strong
        Login:
      = @user.username
    = f.input :is_admin, hint: 'An admin can create a new conference, manage users and make other users admins.'
    = f.input :name, :as => :string
    = f.input :email
    = f.input :affiliation, :as => :string
    = f.input :biography, :input_html => {:rows => 10}
    %p
      Password change
      %input{type: "text", size: "20", name: "newpassword"}
    - if !@user.confirmed?
      Confirm user
      %input{type: "checkbox", name: "confirmuser", value: "yes"}
    - registration = @user.registrations.first
    = f.inputs 'Registration to OGP Summit' do
      - if !registration.nil?
        - if registration.nationality_code.nil? or registration.birthcountry_code.nil?
          %p
            %span{style: 'color: red'}
              Registration form not completed
        - elsif registration.confirmation_date
          %p
            %span{style: 'color: green'}
              Confirmed:
            = registration.confirmation_date.strftime('%Y-%m-%d %H:%m')
        - else
          %p
            %span{style: 'color: orange'}
              Not confirmed
          %p
            Confirm registration
            %input{type: "checkbox", name: "confirmregistration", value: "yes"}
      - else
        %p
          %span{style: 'color: red'}
            No
  = f.actions do
    = f.action :submit, :button_html => {:class => "btn btn-primary"}
