.row
  .col-md-12
    .page-header
      %h2
        Users
        - if @users
          = "(#{@users.length})"
.row
  .col-md-12.table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %th ID
        %th Login
        %th Name
        %th Email
        %th Registration
        %th State
      %tbody.notranslate
        - @users.each do |user|
          %tr
            %td
              = user.id
            %td
              = link_to user.username, edit_admin_user_path(user), target: '_blank'
            %td
              = user.name
            %td
              = user.email
            %td
              - registration = user.registrations.first
              - if !registration.nil?
                - if registration.confirmation_date
                  %span{style: 'color: green'}
                    = registration.confirmation_date.strftime('%Y-%m-%d')
                - else
                  %span{style: 'color: orange'}
                    NC
            %td
              - if user.confirmed?
                confirmed
              - else
                unconfirmed
            
            
