%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : '#OGP16 Summit'
    %meta{:content => content_for?(:description) ? yield(:description) : "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"

    = csrf_meta_tags
    = javascript_include_tag "//cdn.transifex.com/live.js"
    :javascript
      window.liveSettings = {
        api_key: "#{CONFIG['transifex_live_api_key']}",
        detectlang: true,
        dynamic: false,
        autocollect: true,
        picker: 'tx-live-lang-list'
      };
      Transifex.live.onFetchLanguages(function(languages) {
        try {
          // display current language
          document.getElementById('tx-live-lang-name').innerHTML = Transifex.live.getSourceLanguage().name;
          //add translation languages to the list
          document.getElementById('tx-live-lang-list').innerHTML = '';
          for (var i = 0; i < languages.length; ++i) {
            document.getElementById('tx-live-lang-list').innerHTML +=
              '<li><a href="https://' + languages[i].code +
              '.ogpsummit.org' + window.location.pathname + '">' + languages[i].name + '</a></li>';
          }
        } catch (e) {
          console.log(e);
        }
      });
    = content_for(:script_head)

    = yield(:head)
  %body.txlive
    = render 'layouts/navigation'
    -# Admin area
    - if controller.class.name.split("::").first=="Admin"
      = render 'layouts/admin'
    -else
      #messages
        .container
          = render 'layouts/messages'
      #content
        = yield
    #footer
      .container
        %p.muted.text-center
          %small
            This web site is
            =link_to "free software.", "http://www.gnu.org/philosophy/free-sw.html"
            You can run, copy, distribute, study, change and improve it.
            An API is also available.
            =link_to "Legal terms", "/mentions-legales/"
            and
            =link_to "More informations...", "/about-this-site/"
    = content_for(:script_body)
    = piwik_tracking_tag
