!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : '#OGP16 Summit'
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "/stylesheets/schedule/jquery-ui-1.9.2.custom.min"
    = stylesheet_link_tag "/stylesheets/schedule/schedule"

    = javascript_include_tag "/javascripts/schedule/jquery-1.8.3"
    = javascript_include_tag "/javascripts/schedule/jquery-ui-1.9.2.custom.min"
    = javascript_include_tag "/javascripts/schedule/date.format"
    = javascript_include_tag "/javascripts/schedule/schedule"
    = csrf_meta_tags
    = yield(:head)
  %body
    .content
      = yield